/* comentario en hoja de estilo */

body{
background: #141E30;
margin: 0;
padding: 0;
}

p {
    font-family: Arial;
    color: white;
}

h1{
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
}

/*.contenido{
    background-color: black;
}*/

#propuesta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


