/* comentario en hoja de estilo */

body{
background: #141E30;
margin: 0;
padding: 0;
}
.header{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.worldwildlife.org%2Fspecies%2Fpenguin&psig=AOvVaw08o0rEEyHncMpu2XUDWQkm&ust=1604820200389000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiikKPz7-wCFQAAAAAdAAAAABAD);
    background-position: center center;
    background-size: cover;
    height: 550px;
    width: 100%;

}
.overlay:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;   
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.overlay * {
    position: relative; /* Makes elements display above overlay. */
}

#header-text{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 25%;
    width: 60%;
    z-index: 2 !important;
    font-weight: bold;
}


h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 60px;
    margin: 0px;
}



